@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans TC', sans-serif;
	width: auto;
}
nav {
	width: 100%;
	height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	opacity: 0.9;
	-webkit-box-shadow: 0px 1px 20px #6B6B6B;
	box-shadow: 0px 1px 20px #6B6B6B;
	z-index: 1000;
	background-color: hsla(31,34%,74%,1.00);
}
nav h3 {
	font-size: 18px;
	margin-left: 20px;
	font-weight: 500;
}
nav ul li {
	display: inline;
	margin-left: 10px;
	flex-wrap: wrap;
	font-size: 17px;
	font-weight: 600;
}
nav a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 300;
}
nav a:hover {
	color: #7F6451;
	text-decoration: overline;
}
nav ul {
  margin-right: 20px;
}
header {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	text-align: center;
	font-variant: small-caps;
	text-indent: 105px;
	letter-spacing: 6px;
	-webkit-box-shadow: 216px 518px 0px 69px;
	box-shadow: 216px 518px 0px 69px;
	background-image: url(%E7%85%A7%E7%89%87/e33c3ac1256204a24c1afc8c1808c06b.jpg);
	background-position: center center;
}
header h1 {
	margin-bottom: 70px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0;
	text-transform: capitalize;
	border-width: 0ex;
	color: #000000;
	font-size: 60px;
	word-spacing: 0px;
	justify-content: space-between;
}
header a:link {
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
	background-color: #FAFAFA;
	border-radius: 35px;
	font-size: 22px;
	text-decoration: none;
}
header a:hover {
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
	border-radius: 35px;
	font-size: 22px;
	color: #C7C7C7;
	text-decoration: none;
}
article {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: #AF9582;

ex;
}
article h2 {
	text-align: center;
	font-size: 40px;
	padding-bottom: 40px;
	font-weight: 600;
	margin-top: 33px;
}
.course {
	background-color: #A1826C;


}
.container1 {
	display: flex;
	margin-right: -30px;
	margin-left: 32px;
	font-size: 10px;
	text-align: center;
	border-radius: 18px;
	font-weight: 100;
	line-height: 39px;
	padding-top: 29px;
	padding-right: 29px;
	padding-bottom: 29px;
	padding-left: 29px;
	justify-content: space-around;
}
.container1 .left {
  flex: 1;
  text-align: justify;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-right: 10px;
 -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
article p {
  text-align: center;
  font-size: 18px;
}
.container3 {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  justify-content: center;
  margin-top: 20px;
}
footer {
	width: 100%;
	height: 60px;
	background-color: #B29987;
	text-align: center;
	font-size: 14px;
	line-height: 60px;
	color: #000000;
}
nav a {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
header a {
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.container1 .right:hover {
	-webkit-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
	-webkit-box-shadow: 1px 1px 5px 2px #7D7D7D;
	box-shadow: 1px 1px 5px 2px #7D7D7D;
	color: undefined;
}
.container1 ul {
	background-color: #D3BCA4;
	width: 50%;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	border-radius: 17px;
	padding-top: 25px;
	height: 375px;
	margin-right: -205px;
	margin-top: -34px;
}
.container1 .photo  {
	width: 60%;
	border-radius: 17px;
	margin-left: 60px;
	height: 32px;
	margin-right: -53px;
	margin-top: -34px;
}
main #a02 ul {
	margin-top: 2px;


}
#a02 ul .container4.wow.fadeInUp {
	margin-top: -22px;
}

.container2 {
	display: flex;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	height: 473px;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: center;
	background-position: center center;
	background-size: cover;
}
main #a02 .wow.fadeInDown {
	margin-top: 25px;
}


.container2 .colT {
	background-color: #515151;
	color: #FDFDFD;
	opacity: 00;
	height: 30px;
	text-align: center;
	line-height: 30px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
	
}

.col1:hover .colT{
	opacity: 1;

}
.col2:hover .colT{
	opacity: 1;
	
}
.col3:hover .colT{
	opacity: 1;
}

.col1:hover{
	transform: translateY(-20px);
}
.col2:hover{
	transform: translateY(-20px);
}
.col3:hover{
	transform: translateY(-20px);
}
.container1 .photo:hover {
  transform: scale(1.2, 1.2) translateY(-50px) translate(25px, 25px);
}

.video {
	margin-left: auto;
	margin-right: auto;
}
main #a04 iframe {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	height: 400px;
	display: flex;
	margin-top: -11px;
}

main #a04 p {
	margin-bottom: 21px;
	color: #000000;
	border-radius: 30px;
	background-color: #C1B1A5;
	margin-left: auto;
	margin-right: auto;
	width: 213px;
	height: 36px;
	display: flex;
	line-height: 36px;
	letter-spacing: 1px;
	vertical-align: bottom;
	justify-content: center;
	margin-top: -20px;
}
.colT main #a04 {
	background-color: #A1826C;
}
.colT main #a03 {
	margin-top: -8px;
}

